[submodule "project2/wild-deodorant"]
	path = project2/wild-deodorant
	url = git@github.com:smodish-grammerhub/wild-deodorant.git
[submodule "project1"]
	path = project1
	url = https://github.com/Mango-Entertainment/project1.git
